* {
    margin: 0;
    padding: 0;
}
@import 'menu.css';

.linha {
    width: 100%;
    height: 10%;
    display: flex;
}
.vermelho {
    width: 50px;
    height: 50px;
    background-color: rgb(223, 130, 215)(195, 0, 255);
}
.verde {
    width: 50px;
    height: 50px;
    background-color: rgb(137, 211, 192);
}
.azul {
    width: 50px;
    height: 50px;
    background-color: rgb(218, 122, 231);
}
.vermelho {
    width: 50px;
    height: 50px;
    background-color: rgb(127, 239, 243);
}
.verde {
    width: 50px;
    height: 50px;
    background-color: rgb(228, 149, 238);
}
.azul {
    width: 50px;
    height: 50px;
    background-color: rgb(100, 218, 110);
}
.vermelho {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 134, 229);
}
.verde {
    width: 50px;
    height: 50px;
    background-color: rgb(145, 245, 252);
}
.azul {
    width: 50px;
    height: 50px;
    background-color: rgb(233, 117, 204);
}
.vermelho {
    width: 50px;
    height: 50px;
    background-color: rgb(226, 122, 186);
}
.verde {
    width: 50px;
    height: 50px;
    background-color: rgb(144, 255, 144);
}
.azul {
    width: 50px;
    height: 50px;
    background-color: rgb(231, 111, 215);
}
.vermelho {
    width: 50px;
    height: 50px;
    background-color: rgb(247, 133, 241);
}
.verde {
    width: 50px;
    height: 50px;
    background-color: rgb(137, 255, 137);
}
.azul {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 239, 150);
}
.vermelho {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 137, 137);
}
.verde {
    width: 50px;
    height: 50px;
    background-color: rgb(147, 245, 147);
}
.azul {
    width: 50px;
    height: 50px;
    background-color: rgb(150, 150, 248);
}
.vermelho {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 134, 245);
}
.verde {
    width: 50px;
    height: 50px;
    background-color: rgb(158, 247, 158);
}
.azul {
    width: 50px;
    height: 50px;
    background-color: rgb(221, 132, 230);
}
.vermelho {
    width: 50px;
    height: 50px;
    background-color: rgb(232, 148, 240);
}
.verde {
    width: 50px;
    height: 50px;
    background-color: rgb(225, 135, 243);
}
.azul {
    width: 50px;
    height: 50px;
    background-color: rgb(198, 145, 233);
}
.vermelho {
    width: 50px;
    height: 50px;
    background-color: rgb(247, 145, 145);
}
.horizontal {
    width: 50px;
    height: 50px;
    background-color: rgb(165, 255, 250);
}
